<html>
    <head>
        <title>reuven's website</title>
    </head>

    <body>
        {% if breed %}
            your breed is : {{breed}}
        {% endif %}

        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.breed.label }} {{ form.breed() }}
            {{ form.neu.label }} {{ form.neu() }}
            {{ form.mood.label }} {{ form.mood() }}
            {{ form.food.label }} {{ form.food() }}
            <br>
            any other feedback ?
            <br>
            {{ form.feedback() }}
            {{ form.submit() }}


        </form>



    </body>

</html>