.category
{
 margin: 30px;
 cursor: pointer;
 background-color: #eaf3f0;
};

#game
{
 background-color: lavender;
 border: 10px;
 border-radius: 15%;
 border-style: solid;
};

button.answer
{
 background-color: red;
};

.button.answer
{
 background-color: green;
 color: yellow;
 width: 100%
}

.answer { background-color:#eaf2f9; max-width: 800px;}

.answer:hover {
    background-color: #053e69;
    color: white;
  }