.category
{
 margin: 30px;
 cursor: pointer;
 background-color: #eaf3f0;
}

.wrong_ans
{
  background: #FF0000;
}


#game
{
 background-color: lavender !important;
 border: 10px !important;
 border-radius: 15% !important;
 border-style: solid !important;
 display: none !important;
}

.selected_category {color: lightgray; text-shadow: antiquewhite; font-style: italic;}

.answer { background-color:#eaf2f9; max-width: 800px;}

.answer:hover {
    background-color: #053e69;
    color: white;
  }

#promo { max-height: 5cm;}

.correct_ans
{
  background-color: green;
}

#start-grid {display: grid;}

#start-padding {padding-bottom: 10%;}

#start-btn {margin-top: 1cm;}